@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');
h5 {
  color: rgb(107, 90, 167);
  font-family: 'Patrick Hand', cursive;
  font-size: 30px;
  letter-spacing: 3px;
  text-align: center;
  
}
.about-me {
  display: flex;
  background-color: #f7a9a8;
  color: #fff;
  margin-top: 4rem;
  margin-left: 4rem;
  margin-right: 4rem;
  margin-bottom: 10rem;
  text-align: center;
  justify-content: center;
  padding: 30px 25px 30px 20px;
  border-radius: 15px;
  font-size: 22px;
}

