* {
  box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');

body {
  position: relative;
  min-height: 100vh;
  margin: 0;
  padding-bottom: 50px;
  animation: 10000ms ease-in-out infinite color-change;
}
@keyframes color-change{
  0% {
    background-color: #f5dee8;
  }
  33% {
    background-color: #c8dced;
  }
  66% {
    background-color: #c8e6dc;
  }
  100% {
    background-color: #E8E1EF;
    
  }
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  background-color: #89aae6;
}
.brand-name {
  font-size: 24px;
  font-weight: 800;
  letter-spacing: 3px;
  padding-left:10px;
  margin: 5px;
  font-family: 'Courgette', cursive;
}
.links ul {
  margin: 0;
  padding: 0;
  display: flex;
}
.links li {
  list-style: none;
}
.links li a {
  text-decoration: none;
  color: white;
  padding: 14px; 
  display: block;
}
.links li:hover{
  background-color: #ac80a0;
}

@media (max-width: 500px) {
  .links {
    display: block;
    width: 100%;
  }
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }
  .brand-name {
    padding-top: 5px;
  }
  .links ul {
    width: 100%;
    flex-direction: column;
  }
  
  .links li {
    text-align: center;
  }
  .links li a {
    padding: 5px;
  }
  
  i {
    font-size: 18px;
  }
  .image {
    max-width: 70%;
  }
  .about-me {
    font-size: 15px;
  }
  
  em {
    font-size: 12px;
  }
}

